*{margin: 0px;}
div{
    width: 650px;
    background-color: rgb(251, 247, 234);
    border-right: solid;
}
    table{
        width: 300;
        border-spacing: 15px;
    }
         td{
            width: 20%;
            background-color: rgb(220, 214, 214);
         }
         p{
            width: 350;
            height: 52px;
            border-top: solid;
            border-bottom: solid;
            margin-left: 16px;
            overflow: auto;
           font-weight: bold;
         }
         #padding {padding: 55px; background-color: rgb(251, 247, 234);}